/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $accent-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient($secondary-dark, $secondary-light);
  border-radius: 5px !important;
}