// COLORS

$primary-light:#433662;
$primary-med:#3d2b53;
$primary-dark:#2c233f;

$secondary-light:#c42886;
$secondary-med:#ac2087;
$secondary-dark:#850286;

$accent-light:#FFFFFF;
$accent-med:#F6F5FC;
$accent-dark:#D2D0E1;


// TYPOGRAPHY

h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}


h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;

  @media (max-width: 425px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 26px;
}


p {
  font-size: 16px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}