// COLORS

$primary-light:#433662;
$primary-med:#3d2b53;
$primary-dark:#2c233f;

$secondary-light:#c42886;
$secondary-med:#ac2087;
$secondary-dark:#850286;

$accent-light:#FFFFFF;
$accent-med:#F6F5FC;
$accent-dark:#D2D0E1;