@import "./variables";

header {
  position: fixed;
  height: 80px;
  background: $accent-light;
  width: 100%;
  z-index: 1000;
  padding: 10px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 580px) {
    padding: 20px;
  }
}

.header-logo {
  width: 120px;
  position: relative;
  z-index: 100;
  transition: margin 0.5s;

  path {
    fill: $secondary-light;
    transition: fill 0.5s;
  }

  &.open {
    margin-top: 100px;

    path {
      fill: $accent-light;
    }
  }

  @media (max-width: 1025px) {
    margin-left: 40px;

    &.open {
      margin-left: 65px;
    }
  }

  @media (max-width: 580px) {
    margin-left: 60px;

    &.open {
      margin-left: 85px;
    }
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  // margin-right: 40px;

  @media (max-width: 1025px) {
    display: none;
  }
}

.menu-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $secondary-light;
  margin-right: 20px;
  padding: 10px 20px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width:1025px) {
    color: $accent-light;
    margin-right: 0;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.header-buttons {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

// MOBILE MENU

.mobile-menu {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  width: 320px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 160px;


  &:before {
    content: "";

    min-width: 700px;
    min-height: 700px;
    width: 120vh;
    height: 120vh;
    border-radius: 50%;
    background: $secondary-dark;
    position: absolute;
    top: -80px;
    left: -400px;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: top left;

  }

  a {
    transform: translateY(300px);
    opacity: 0;
    // transition: transform 0.2s, opacity 0.2s;
    // transition-property: transform, opacity;

    &:nth-child(1) {
      transition: transform 0.2s, opacity 0.2s;
    }

    &:nth-child(2) {
      transition: transform 0.3s, opacity 0.3s;
    }

    &:nth-child(3) {
      transition: transform 0.4s, opacity 0.4s;
    }

    &:nth-child(4) {
      transition: transform 0.5s, opacity 0.5s;
    }
  }

  &.menu-open {

    a {
      transform: translateY(0);
      opacity: 1;
    }

    &:before {
      transform: scale(1);
      transform-origin: top left;
    }

  }

  @media (min-width: 1025px) {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    left: -100px;
  }

  100% {
    left: 100px;

  }
}