@import 'variables';

.features {
  .container {
    align-items: center;
  }
}


.preview {
  width: 500px;
  height: 100%;
  padding: 0 40px;
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
    padding: 0;
  }

  @media (max-width: 540px) {
    width: auto;
  }

  @media (max-width: 425px) {
    position: relative;
    transform: rotate(15deg);
    margin-left: -100px;
    bottom: 20px;
  }

  .phone {
    position: relative;
    z-index: 300;
    width: 320px;

    .phone-overlay {
      width: 100%;
      position: absolute;
      top: -50px;
      pointer-events: none;
    }

    ::-webkit-scrollbar {
      width: 1px !important;
      height: 1px !important;
    }

    ::-webkit-scrollbar-track {
      background: $accent-med;
    }

    ::-webkit-scrollbar-thumb {
      background: $accent-med;
    }

    .phone-content {
      background: $primary-dark;
      height: 610px;
      width: 296px;
      margin: 0 auto;
      border-radius: 36px;
      overflow-y: scroll;


      .phone-body {
        padding: 20px;
        height: 1500px;
        background: linear-gradient(to bottom, $secondary-light, $primary-light);
        background-image: url('https://qph.fs.quoracdn.net/main-qimg-606d28746f1e0115cb4e043e321b9501');
        background-size: cover;
      }
    }
  }



  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $accent-light;
    position: absolute;
    z-index: 2;
    animation: circle-small 1s;


    @media (max-width: 580px) {
      display: none;
    }

    &.animated {
      animation: circle-big 2s forwards;
    }
  }
}

@keyframes circle-big {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.2);
  }
}

@keyframes circle-small {
  0% {
    transform: scale(3.2);
  }

  100% {
    transform: scale(1);
  }
}