h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

@media (max-width: 425px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 26px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

footer {
  background: #433662;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  footer {
    height: auto;
  }
}

footer .container {
  height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .left {
  width: calc(100% - 280px);
  padding-right: 40px;
}

@media (max-width: 1024px) {
  footer .left {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
}

footer .right {
  width: 280px;
}

@media (max-width: 1024px) {
  footer .right {
    width: 100%;
  }
}

footer .right .soon {
  width: 100%;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

@media (max-width: 1024px) {
  footer .right .soon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

footer .right .soon .download {
  margin-left: 20px;
  margin-right: 0;
  height: 40px;
  width: 120px;
}

@media (max-width: 1024px) {
  footer .right .soon .download {
    margin: 0 10px;
  }
}

footer .right .soon .download svg {
  width: 100%;
  height: 100%;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  footer .footer-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  footer .footer-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-menu li {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;
  white-space: nowrap;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 425px) {
  footer .footer-menu li {
    margin: 10px;
  }
}

footer .disclaimer {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.copyright {
  background: #2c233f;
  color: #c42886;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=footer.css.map */