h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

@media (max-width: 425px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 26px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.features .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview {
  width: 500px;
  height: 100%;
  padding: 0 40px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .preview {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 540px) {
  .preview {
    width: auto;
  }
}

@media (max-width: 425px) {
  .preview {
    position: relative;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    margin-left: -100px;
    bottom: 20px;
  }
}

.preview .phone {
  position: relative;
  z-index: 300;
  width: 320px;
}

.preview .phone .phone-overlay {
  width: 100%;
  position: absolute;
  top: -50px;
  pointer-events: none;
}

.preview .phone ::-webkit-scrollbar {
  width: 1px !important;
  height: 1px !important;
}

.preview .phone ::-webkit-scrollbar-track {
  background: #F6F5FC;
}

.preview .phone ::-webkit-scrollbar-thumb {
  background: #F6F5FC;
}

.preview .phone .phone-content {
  background: #2c233f;
  height: 610px;
  width: 296px;
  margin: 0 auto;
  border-radius: 36px;
  overflow-y: scroll;
}

.preview .phone .phone-content .phone-body {
  padding: 20px;
  height: 1500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c42886), to(#433662));
  background: linear-gradient(to bottom, #c42886, #433662);
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-606d28746f1e0115cb4e043e321b9501");
  background-size: cover;
}

.preview .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  z-index: 2;
  -webkit-animation: circle-small 1s;
          animation: circle-small 1s;
}

@media (max-width: 580px) {
  .preview .circle {
    display: none;
  }
}

.preview .circle.animated {
  -webkit-animation: circle-big 2s forwards;
          animation: circle-big 2s forwards;
}

@-webkit-keyframes circle-big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3.2);
            transform: scale(3.2);
  }
}

@keyframes circle-big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3.2);
            transform: scale(3.2);
  }
}

@-webkit-keyframes circle-small {
  0% {
    -webkit-transform: scale(3.2);
            transform: scale(3.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circle-small {
  0% {
    -webkit-transform: scale(3.2);
            transform: scale(3.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=phone-preview.css.map */